@font-face {
  font-family: "Comfortaa";
  src: url("./font/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("./font/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* main container */
.container {
  max-width: 1440px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

/* top Banner */
.top-banner {
  width: 100%;
  background-color: rgb(51, 135, 231);
  padding: 8px 40px;
}
.top-banner .banner-text {
  color: #fff;
}

.top-banner .banner-arrow {
  width: 20px;
  margin-left: 16px;
}

/* responsive */
@media (max-width: 992px) {
  .top-banner {
    display: none;
  }
}

/* category banner */

.top-category-section {
  width: 100%;
  background-color: rgb(177, 76, 51);
}

.top-category-section .cat-space {
  padding: 4px 30px !important;
}

.top-category-section .cat-space .cat-title {
  color: #fff;
}

.top-category-section .cat-space .cat-dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin: 0 10px;
  background: #fff;
}

/* responsive */
@media (max-width: 992px) {
  .top-category-section {
    display: none;
  }
}

/* navbor  */

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(187, 94, 70);
  padding: 0 !important;
}
.navbar .container-fluid {
  max-width: 1440px !important;
}
.navbar .container-fluid .main-logo .navbar-toggler .manu-icon {
  width: 16px;
}
.navbar .container-fluid .main-logo .navbar-toggler {
  padding: 0 !important;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #fff0 !important;
}
.navbar .container-fluid .main-logo .navbar-brand {
  color: #fff;
}

.navbar .container-fluid .search-box {
  width: 300px;
  height: 40px;
  background-color: #fff;
  padding: 3px 3px 3px 10px;
}

.navbar .container-fluid .search-box .search-input {
  width: 100%;
  border: none;
  outline: none;
}
.navbar .container-fluid .search-box .microphone-icon,
.navbar .container-fluid .search-box .search-icon .search {
  width: 16px;
  cursor: pointer;
}
.navbar .container-fluid .search-box .search-icon {
  width: 40px;
  height: 100%;
  background-color: rgb(187, 94, 70);
  cursor: pointer;
  margin-left: 10px;
}

/* responsive */
@media (max-width: 992px) {
  .navbar {
    display: none;
  }
}

/* hero section */
/* 
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 38px 202px 72px 40px;
}

.hero-section .main-title {
  font-family: "Comfortaa";
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #000000;
  border-left: 3px solid #f05a22;
  padding-left: 12px;
  margin-bottom: 64px;
}

.hero-section .hero-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.hero-section .hero-section-wrapper .hero-content-img {
  width: 547.78px;
  height: 634px;
  margin-left: 53px;
}

.hero-section .hero-section-wrapper .hero-content {
  width: 508px;
}
.hero-section .hero-section-wrapper .hero-content .content-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 16px;
  padding-right: 24px;
}
.hero-section
  .hero-section-wrapper
  .hero-content
  .content-heading
  .underline-img {
  position: relative;
}
.hero-section
  .hero-section-wrapper
  .hero-content
  .content-heading
  .underline-img::before {
  content: "";
  position: absolute;
  width: 203.92px;
  height: 8.44px;
  right: 0;
  z-index: -1;
  bottom: -4px;
  background-image: url("./images/text-undesline.svg");
  background-repeat: no-repeat;
  background-position: "center";
}

.hero-section .hero-section-wrapper .hero-content .content-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 36px;
  padding-right: 94px;
}
.devidr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 107, 49, 0.3);
}
.text-devidr {
  position: relative;
}
.text-devidr .d-text {
  font-family: "Open Sans";
  width: 40px;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #fff;
  position: absolute;
  top: -18px;
  left: 35px;
  padding-left: 12px;
}

.hero-section .hero-section-wrapper .hero-content .content-status {
  margin: 24px 0 37px;
}
.hero-section .hero-section-wrapper .hero-content .content-status-two {
  margin: 37px 0 32px;
}

.hero-section .hero-section-wrapper .hero-content .content-status .status-img,
.content-status-two .status-img {
  width: 34px;
  margin-right: 15px;
}
.hero-section .hero-section-wrapper .hero-content .content-status .status-para,
.content-status-two .status-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}
.hero-section
  .hero-section-wrapper
  .hero-content
  .content-status
  .status-para
  .hilight-para,
.content-status-two .status-para .hilight-para {
  font-weight: 700;
}

/* responsive */

/*@media (min-width: 788px) and (max-width: 1199px) {
  .hero-section {
    padding: 38px 50px 72px;
  }
  .hero-section .hero-section-wrapper .hero-content-img {
    width: 447.78px;
    height: 534px;
    margin-left: 0;
  }
  .hero-section
    .hero-section-wrapper
    .hero-content
    .content-heading
    .underline-img::before {
    right: 45px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 36px 24px 53.71px;
  }

  .hero-section .main-title {
    font-size: 20px;
    line-height: 27px;
    padding-left: 10px;
    margin-bottom: 30px;
  }
  .hero-section .hero-section-wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .hero-section .hero-section-wrapper .hero-content-img {
    width: 212px;
    height: 245.37px;
    margin: 0 0 23.63px 0;
  }
  .hero-section .hero-section-wrapper .hero-content {
    width: 100%;
  }
  .hero-section .hero-section-wrapper .hero-content .content-heading {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    margin-bottom: 24.29px;
    padding-right: 0;
    text-align: center;
  }
  .hero-section .hero-section-wrapper .hero-content .content-para {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 23px;
    padding-right: 0;
    text-align: center;
  }
  .text-devidr .d-text {
    font-size: 21px;
  }

  .hero-section .hero-section-wrapper .hero-content .content-status {
    margin: 17px 0 27px;
  }
  .hero-section .hero-section-wrapper .hero-content .content-status-two {
    margin: 27px 0 23px;
  }
  .hero-section .hero-section-wrapper .hero-content .content-status .status-img,
  .content-status-two .status-img {
    width: 20px;
    margin-right: 14px;
  }
  .hero-section
    .hero-section-wrapper
    .hero-content
    .content-status
    .status-para,
  .content-status-two .status-para {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000;
  }

  .hero-section
    .hero-section-wrapper
    .hero-content
    .content-heading
    .underline-img::before {
    width: 108px;
    bottom: -5px;
  }
} */

/* hero section -2 */

.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 44px 91px 39px;
  background-image: url(../images/hero-bg-ac-2.svg);
  background-repeat: no-repeat;
  background-position: 100% 70%;
  background-size: 371px 465px;
}

.hero-section .top-content {
  display: flex;
  align-items: center;
}

.hero-section .top-content .content-images .img-one {
  width: 109.15px;
  height: 53.66px;
  margin-right: 13px;
}

.hero-section .top-content .content-images .img-two {
  width: 90.24px;
  height: 60.98px;
}

.hero-section .top-content .content-title {
  font-family: "Comfortaa";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000;
  border-left: 3px solid #f05a22;
  width: 276px;
  padding: 10px 0 10px 18px;
  margin-left: 10px;
}
.hero-section .main-content {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-section .main-content .main-img {
  width: auto;
  height: auto;
}

@media (min-width: 788px) and (max-width: 1399px) {
  .hero-section .main-content .main-img {
    width: 485px;
    height: auto;
  }
}

@media (max-width: 766px) {
  .hero-section .main-content .main-img {
    width: 100%;
    height: auto;
  }
}

.hero-section .main-content .content-description {
  width: 659px;
  padding-top: 50px;
}
.content-description .con-des-heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #00b061;
  margin-bottom: 7px;
}

.content-description .con-des-sub-heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 43px;
  padding-right: 75px;
}

.content-description .con-des-ac-images {
  height: 252px;
  width: 100%;
  position: relative;
}
.content-description .con-des-ac-images .Ac {
  position: absolute;
  width: 304px;
  height: 106px;
}

.content-description .con-des-ac-images .ac-one {
  z-index: 3;
}
.content-description .con-des-ac-images .ac-two {
  top: 77px;
  left: 143px;
  z-index: 2;
}
.content-description .con-des-ac-images .ac-three {
  top: 150px;
  left: 295px;
  z-index: 1;
}

@media (min-width: 420px) and (max-width: 768px) {
  .content-description .con-des-ac-images {
    height: 318px;
    width: 320px;
  }
  .content-description .con-des-ac-images .ac-two {
    top: 87px;
    left: 77px;
  }
  .content-description .con-des-ac-images .ac-three {
    top: 161px;
    left: 165px;
  }
}

@media (max-width: 420px) {
  .content-description .con-des-ac-images {
    height: 318px;
    width: 100%;
  }
  .content-description .con-des-ac-images .ac-two {
    top: 142px;
    left: 3px;
  }
  .content-description .con-des-ac-images .ac-three {
    top: 270px;
    left: 6px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 50px 24px 91px;
  }

  .content-description .con-des-ac-images .Ac {
    width: 100%;
  }
}
@media (max-width: 766px) {
  .hero-section .main-content .content-description {
    width: 100%;
  }
  .content-description .con-des-sub-heading {
    font-size: 28px;
    line-height: 42px;
    padding-right: 0;
  }
}

/*  installation section  

.installation {
  width: 100%;
  background-color: #f7b801;
}

.installation .installation-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px 122px 44px 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.installation .installation-wrapper .v-divider {
  width: 1px;
  height: 114px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 16px;
}
.installation .installation-wrapper div:nth-child(1) {
  width: 146px;
}
.installation .installation-wrapper div:nth-child(3) {
  width: 216px;
}
.installation .installation-wrapper div:nth-child(5) {
  width: 237px;
}
.installation .installation-wrapper div:nth-child(7) {
  width: 250px;
}
.installation .installation-wrapper .info-box .info-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 5px;
}
.installation .installation-wrapper .info-box .title-uni {
  font-size: 26px;
}
.installation .installation-wrapper .info-box .info-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}

/* responsive ////

@media (min-width: 788px) and (max-width: 1199px) {
  .installation .installation-wrapper {
    padding: 56px 50px 44px;
  }
}

@media (max-width: 768px) {
  .installation .installation-wrapper {
    padding: 33px 24px 35px;
    flex-direction: column;
  }
  .installation .installation-wrapper .v-divider {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin: 16px 0;
  }
  .installation .installation-wrapper div:nth-child(1) {
    width: 100%;
  }
  .installation .installation-wrapper div:nth-child(3) {
    width: 100%;
  }
  .installation .installation-wrapper div:nth-child(5) {
    width: 100%;
  }
  .installation .installation-wrapper div:nth-child(7) {
    width: 100%;
  }
  .installation .installation-wrapper .info-box .info-heading {
    font-size: 24px;
  }
  .installation .installation-wrapper .info-box .title-uni {
    font-size: 24px;
  }
}
*/

/* environmentally */

.environmentally {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 198px 87px;
}

@media (min-width: 788px) and (max-width: 1199px) {
  .environmentally {
    padding: 0 50px 87px;
  }
}

@media (max-width: 768px) {
  .environmentally {
    padding: 0 24px 40px;
  }
}

.environmentally .env-top-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}
.environmentally .env-sub-heading {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #000000;
  margin-bottom: 17px;
}

.environmentally .env-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 51px;
}

.environmentally .env-cards .ev-card:first-child {
  width: 300px;
}

.environmentally .env-cards .ev-card:nth-child(2) {
  width: 385px;
}
.environmentally .env-cards .ev-card:last-child {
  width: 296.27px;
}

.environmentally .env-cards .ev-card .ev-card-img {
  width: 296px;
  height: 211px;
  margin-bottom: 31px;
}
.environmentally .env-cards .ev-card .ev-card-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}
.environmentally .env-cards .ev-card .ev-card-des {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.environmentally .env-office-box {
  width: 100%;
  min-height: 358px;
  background: #df6436;
  border-radius: 20px;
  padding: 32px 40px 44px 40px;
  position: relative;
  margin-bottom: 87px;
}
.environmentally .env-office-box .office-box-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 19px;
}

.environmentally .env-office-box ul {
  max-width: 682px;
}
.environmentally .env-office-box ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-left: 24px;
  color: #ffffff;
  list-style-image: url(/images/list-img.png);
}

.environmentally .env-office-box ul li:not(:last-child) {
  margin-bottom: 15px;
}
.environmentally .env-office-box ul li span {
  font-weight: 600;
}

.environmentally .env-office-box .office-img-box {
  width: auto;
  position: absolute;
  top: 46px;
  right: -125px;
  display: block;
}

@media (min-width: 788px) and (max-width: 1030px) {
  .environmentally .env-office-box .office-img-box {
    top: -89px;
    right: 0;
    width: 285px;
  }
}

.environmentally .env-heading-two {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #000000;
  margin: 0 auto 48px;
  width: 817px;
}
@media (max-width: 768px) {
  .environmentally .env-heading-two {
    width: 100%;
  }

  .environmentally .env-office-box .office-img-box {
    display: none;
  }

  .environmentally .env-office-box .office-box-heading {
    line-height: 34px;
    font-size: 24px;
  }

  .environmentally .env-office-box {
    padding: 25px;
  }

  .environmentally .env-office-box ul li {
    padding-left: 7px;
    font-size: 16px;
    line-height: 19px;
  }
  .environmentally .env-top-heading {
    font-size: 32px;
  }
  .environmentally .env-sub-heading {
    font-size: 24px;
  }

  .environmentally .env-heading-two {
    font-size: 32px;
  }
  .environmentally .env-cards .ev-card .ev-card-heading {
    font-size: 24px;
  }
  .environmentally .env-cards .ev-card .ev-card-des {
    line-height: 24px;
  }
}

.environmentally .program-link {
  width: 711px;
  min-height: 68px;
  border: 2px solid #000000;
  border-radius: 44px;
  padding: 18px 40px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 32px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .environmentally .program-link {
    padding: 10px 20px;
    width: 100%;
  }
}

.environmentally .program-link .program-logo {
  width: 34.61px;
  height: 18px;
}
.environmentally .application-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.environmentally .application-box .light-img {
  width: 51px;
  height: 95px;
  display: block;
}
.environmentally .application-box .application {
  width: 490px;
  min-height: 68px;
  background: #3f3937;
  border-radius: 44px;
  padding: 18px 40px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .environmentally .application-box .application {
    padding: 15px 20px;
    width: 100%;
  }
  .environmentally .application-box .light-img {
  }
}
@media (max-width: 766px) {
  .environmentally .application-box .light-img {
    display: none;
  }
}

.environmentally .application-box .application .program-logo {
  width: 34.95px;
  height: 18px;
}

/* steps section */

.steps {
  width: 100%;
  background-color: #f7f7f7;
}
.steps .steps-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 68px 128.05px 91px 120.33px;
}

.steps .steps-wrapper .step-heading {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #000000;
}

.steps .steps-wrapper .step-sub-heading {
  font-weight: 400;
  margin-bottom: 9px;
}
.steps .steps-wrapper .step-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 40px;
}

.steps .steps-wrapper .applecation-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 38px;
}
.steps .steps-wrapper .applecation-box .applecation-img {
  width: 613px;
  height: 382px;
}

.steps .steps-wrapper .applecation-box .applecations {
  width: 551px;
  /* min-height: 488px; */
}
.steps .steps-wrapper .applecation-box .applecations .accordion-button::after {
  display: none;
}
.accordion-button:focus {
  border-color: #86b6fe00;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-flush
  .accordion-item {
  border-top: 1px solid #d2e2da;
  border-bottom: 1px solid #d2e2da;
  /* border: none !important; */
}

#accordion-item-style {
  border-left: none !important ;
  border-right: none !important ;
}
.steps .steps-wrapper .applecation-box .applecations .accordion-button {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  padding: 22px 0 15px;
  background-color: #f7f7f7;
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-button.collapsed {
  padding: 22px 0;
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-button
  .number-box {
  width: 31px;
  height: 31px;
  border: 1px solid #00b061;
  border-radius: 50px;
  background-color: #00b061;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-button
  .number-box
  .number {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
  padding-top: 5px;
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-button.collapsed
  .number-box {
  border: 1px solid #000000;
  background-color: #f7f7f7;
}
.steps
  .steps-wrapper
  .applecation-box
  .applecations
  .accordion-button.collapsed
  .number-box
  .number {
  color: #000000;
}

.steps .steps-wrapper .applecation-box .applecations .accordion-body {
  background-color: #f7f7f7;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 0 3px 21px;
}

.steps .steps-wrapper .steps-links {
  max-width: 551px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.link-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 12px;
}
.link-para a {
  color: #000000;
  font-weight: 600;
  text-decoration-line: underline;
}

/* responsive */

@media (min-width: 788px) and (max-width: 1199px) {
  .steps .steps-wrapper {
    padding: 68px 50px 96px;
  }
}

@media (max-width: 768px) {
  .steps .steps-wrapper {
    padding: 44px 24px 54px;
  }
  .steps .steps-wrapper .step-heading {
    font-size: 24px;
    line-height: 38px;
  }

  .steps .steps-wrapper .step-para {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 15.87px;
  }
  .steps .steps-wrapper .applecation-box {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .steps .steps-wrapper .applecation-box .applecation-img {
    width: 204px;
    height: 211.45px;
    margin-bottom: 30.55px;
  }
  .steps .steps-wrapper .applecation-box .applecations {
    width: 100%;
  }
  .steps .steps-wrapper .applecation-box .applecations .accordion-button {
    font-size: 20px;
  }
  .steps .steps-wrapper .applecation-box .applecations .accordion-body {
    font-size: 15px;
    padding: 0 3px 28px;
  }
  .steps .steps-wrapper .steps-links {
    display: none;
  }
}

/*  Choose the category   */

.choose-the-category {
  max-width: 1440px;
  margin: 0 auto;
  padding: 85px 120px 87px;
}

.choose-the-category .main-heading {
  font-family: "Comfortaa";
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 50px;
  width: 720px;
}

.choose-the-category .choose-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .choose-the-category .choose-cards {
    justify-content: center;
  }
}
.choose-the-category .choose-cards .choose-card {
  width: 551px;
  height: 401px;
  background: #19b86d;
}
@media (max-width: 1024px) {
  .choose-the-category .choose-cards .choose-card {
    width: 100%;
  }
}
.choose-card-category {
  margin-bottom: 47px;
}
.choose-the-category .choose-cards .choose-card .card-bg {
  background-image: url("./images/back-cards.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 421px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 44px;
}
/* card imgs */
.home-img {
  position: absolute;
  top: -42px;
}
.bg-bottom {
  width: 100%;
  height: 23px;
  background: #f7f7f7;
}
.card-back-img {
  width: 100%;
  height: 106px;
  position: relative;
  background: #f7f7f7;
  padding: 41px 40px;
}
@media (max-width: 992px) {
  .card-back-img {
    padding: 31px 40px 0;
  }
}

.choose-the-category .choose-cards .choose-card .card-bg .ac-img {
  width: 386px;
}

.choose-the-category
  .choose-cards
  .choose-card
  .card-bg
  .replace-link
  .replace-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.choose-the-category
  .choose-cards
  .choose-card
  .card-bg
  .replace-link
  .link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.choose-the-category
  .choose-cards
  .choose-card
  .card-bg
  .replace-link
  .link-btn
  .replace-img {
  width: 12px;
  height: 24px;
}

/* responsive */

@media (min-width: 788px) and (max-width: 1199px) {
  .choose-the-category {
    padding: 84px 24px 87px;
  }
  .choose-the-category .choose-cards {
    flex-wrap: wrap;
  }
  .choose-the-category .choose-cards .choose-card {
    margin-bottom: 47px;
  }
}

@media (max-width: 768px) {
  .choose-the-category {
    padding: 40px 24px 49.97px;
  }
  .choose-the-category .main-heading {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 42px;
    width: 100%;
  }

  .choose-the-category .choose-cards {
    flex-direction: column;
  }
  .choose-the-category .choose-cards .choose-card {
    width: 100%;
    min-height: 297.94px;
    margin-bottom: 46px;
  }
  .choose-the-category .choose-cards .choose-card .card-bg {
    width: 100%;
    min-height: 297.94px;
    background-size: inherit;
  }

  .choose-the-category
    .choose-cards
    .choose-card
    .card-bg
    .replace-link
    .replace-title {
    font-size: 15px;
    line-height: 21px;
  }
  .choose-the-category
    .choose-cards
    .choose-card
    .card-bg
    .replace-link
    .link-btn {
    width: 51px;
    height: 51px;
  }
}
@media (max-width: 480px) {
  .choose-the-category .choose-cards .choose-card .card-bg .ac-img {
    width: 265px;
    pad: 0 20px;
  }
}

/* FUJITSU Slick-Slider */
.fujitsu-section {
  width: 100%;
  margin-bottom: 61px;
  background: #f7f7f7;
  padding: 56px 0 55px;
}

.comp-image-slider .slick-slide img {
  width: 229px;
  height: 115px;
  margin: 0 29px;
}

/* Recycle, change */

.recycle-change {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 120px 149px 124px;
}
.recycle-change .main-heading {
  font-family: "Comfortaa";
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: #000000;
}
.recycle-change .sub-heading {
  font-weight: 700;
  margin-bottom: 20px;
}

.recycle-change .questions .accordion-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 7px 14px;
}
.recycle-change .questions .accordion-body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  padding: 13px 191px 13px 13px;
}
.recycle-change .questions .accordion-button::after {
  background-image: url(images/bottom-icon.svg);
}

.recycle-change .questions .accordion-item {
  border: none;
  margin-bottom: 17px;
}

/* responsive */
@media (max-width: 768px) {
  .recycle-change {
    max-width: 1440px;
    margin: 0 auto;
    padding: 54px 24px 72px;
  }
  .recycle-change .main-heading {
    font-size: 24px;
    line-height: 35px;
  }
  .recycle-change .sub-heading {
    font-weight: 700;
    margin-bottom: 28px;
    font-size: 24px;
  }
  .recycle-change .questions .accordion-button {
    font-size: 24px;
    padding: 6px 14px;
  }
  .recycle-change .questions .accordion-body {
    line-height: 28px;
    padding: 0 0 25px 0;
  }
  .recycle-change .questions .accordion-item {
    margin-bottom: 12px;
  }
}

/* See our TOP options! CSS */
.top-option-section {
  position: relative;
  padding: 0 0 334px 0 !important;
  background-color: #008046;
}
.top-option-section .top-option-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.top-option-heading {
  text-align: center;
  padding: 0 20px;
}
.heading-text {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.top-option-video {
  margin: 0px auto;
  padding: 69px 120px 56px;
}

.banner_slider2_items {
  padding: 0 19px;
}

.top-option-image-slider .slick-slide img {
  object-position: center;
  object-fit: cover;
  height: 387px;
  width: 1018px;
}

.forget-section {
  position: relative;
}
.forget-section-Detail {
  position: absolute;
  padding: 0px 38px 0px 100px;
  z-index: 9999;
  width: 1018px;
  min-height: 346px;
  background: #fff;
  box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forget-section .forget-section-Detail .link-btn {
  width: 58px;
  height: 58px;
  border-radius: 50px;
  margin-top: 215px;
  border: 3px solid rgba(2, 122, 68, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .forget-section .forget-section-Detail .link-btn {
    margin: 0 20px 0 auto;
  }
}
.forget-section-heading-para {
  max-width: 446px;
}
.forget-section-heading-para h6 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}
.forget-section-heading-para p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
}
/* ========Start grant section CSS===== */
.grant_section {
  background-color: #f7f7f7;
}
.grant_section .main-grant {
  max-width: 1440px;
  margin: 0 auto;
  padding: 136px 122px 0;
}
.grant__text_section {
  margin-top: 60px;
  width: 533px;
}
@media (max-width: 768px) {
  .grant_section .main-grant {
    padding: 40px 24px 0;
  }
  .grant__text_section {
    width: 100%;
  }
}
.grant__text_section .d-flex {
  margin-bottom: 25px;
}

.grant__text_section .d-flex .img-two {
  margin-right: 21px;
}
.grant__text_section h2 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #000000;
  margin-bottom: 19px;
}
.grant__text_section p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 19px;
}
.grant__text_section p a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
}
.grant__text_section .hilight-p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #000000;
}
/* ========End grant section CSS===== */
/* ========Start accordin section CSS==== */
.accordin_section {
  margin-top: 80px;
}
.accordin_section .accordion-button {
  width: max-content;
  align-items: center;
  font-size: 40px;
}
.accordin_section .accordion-button span {
  font-weight: 500;
}
.accordin_section .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #000;
}
.accordin_section .accordion-button::after {
  background-image: url(images/Vector\ 10.svg);
  margin-left: 28px;
}
.accordin_section .accordion-button:not(.collapsed)::after {
  background-image: url(images/Vector\ 10.svg);
}
.accordin_section .accordin_body_section {
  max-width: 874px;
}
.accordin_section .accordin_body_section p {
  font-size: 18px;
}
.accordin_section .accordin_list_section {
  font-size: 18px;
}
/* ========End accordin section CSS==== */

/* =====App Media Query section==== */

@media screen and (max-width: 1366px) {
  .top-option-video {
    padding: 69px 0 56px 0;
  }
  .forget-section-Detail {
    max-width: 1000px;
  }

  .grant_section {
    padding-top: 130px;
  }
}
@media screen and (max-width: 1280px) {
  .forget-section-Detail {
    width: 900px;
  }
  .top-option-image-slider .slick-slide img {
    width: 799px;
  }
}
@media screen and (max-width: 1024px) {
  .top-option-video {
    padding: 69px 40px 56px;
  }
  .forget-section-Detail {
    margin: 0;
  }
  .grant_section {
    padding-top: 100px;
  }
  .accordin_section .accordion-button {
    font-size: 30px;
    width: 100%;
  }
  .accordin_section .accordin_body_section {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .top-option-section {
    padding: 88px 0 88px 0 !important;
  }
  .forget-section {
    padding: 0 20px;
  }
  .forget-section-heading-para {
    max-width: 100%;
    margin: 25px 0;
  }
  .top-option-video {
    padding: 69px 20px 56px;
  }

  .forget-section-Detail {
    width: 100%;
    flex-direction: column;
    height: max-content;
    padding: 30px 10px;
    margin: 30px 0;
    position: static;
    transform: translate(0, 0);
  }
  .grant_section {
    padding-top: 130px;
  }
  .grant__text_section {
    margin-top: 0px;
  }
  .top-option-image-slider .slick-slide img {
    width: 600px;
  }
  .grant__text_section h2 {
    font-size: 32px;
    line-height: 50px;
  }
}
@media screen and (max-width: 600px) {
  .top-option-section {
    padding: 88px 0 10px 0 !important;
  }
  .forget-section-heading-para {
    margin-left: 0px;
  }
  .forget-section-heading-para h6 {
    text-align: center;
    font-size: 20px;
  }
  .forget-section-heading-para p {
    text-align: center;
    font-size: 24px;
  }
  .grant_section {
    padding-top: 80px;
  }
  .accordin_section .accordion-button {
    font-size: 18px;
    flex-wrap: wrap;
    align-content: center;
  }

  .top-option-image-slider .slick-slide img {
    width: 300px;
  }
  .accordin_section .accordion-button::after {
    margin-left: auto;
  }
}

/* Love Earth */

.love-earth {
  width: 100%;
  background-color: rgba(0, 128, 70, 1);
}
.main-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 81px 120px 72px;
}
@media (max-width: 768px) {
  .main-section {
    padding: 81px 24px 72px;
  }
}
.main-para {
  font-family: "Comfortaa";
  color: #fafafa;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  .main-para {
    font-size: 24px;
    line-height: 44px;
  }
}
/* Card section */
.card-section {
  display: flex;
  align-items: flex-start;
}
.love-earth .cards {
  width: 357px;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 109px;
}

/* Responsive */

/* card logos */
.love-earth .cards .earth-logo {
  width: 266px;
  height: 237px;
  margin: 45px 0;
}
.love-earth .cards .dollar-logo {
  width: 275.76px;
  height: 231px;
  margin: 45px 0;
}
.love-earth .cards .electronic-logo {
  width: 263px;
  height: 223px;
  margin: 45px 0 55px;
}
/* card content */
.love-earth .cards .card-heading {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #fafafa;
  margin-bottom: 11px;
}
/* card paragraph */
.love-earth .cards .card-para {
  max-width: 357.33px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .love-earth .cards .card-para {
    max-width: 340px;
  }
}

/*slider dot */

.love_slider .slick-dots li button {
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 50px;
  background: transparent;
}

.love_slider .slick-dots li.slick-active button {
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 50px;
  background: #d9d9d9 !important;
}
.love_slider .slick-dots li button:before {
  font-size: inherit !important;
  line-height: inherit !important;
  width: 16px !important;
  height: 16px !important;
  content: "" !important;
  color: rgba(0, 0, 0, 0) !important;
}

/* slider pre nd next btn */

.love_slider .slick-prev {
  left: 41%;
}
.love_slider .slick-next {
  right: 41%;
}

.love_slider .slick-prev {
  background-image: url("./images/left-slide-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.love_slider .slick-next {
  background-image: url("./images/right-slide-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.love_slider .slick-prev:hover,
.love_slider .slick-prev:focus {
  background-image: url("./images/left-slide-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.love_slider .slick-next:hover,
.love_slider .slick-next:focus {
  background-image: url("./images/right-slide-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.love_slider .slick-prev,
.love_slider .slick-next {
  top: 102% !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  border: 1px solid #fafafa !important;
  z-index: 2;
}
.love_slider .slick-prev:before,
.love_slider .slick-next:before {
  content: "" !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  opacity: inherit !important;
  color: rgba(255, 255, 255, 0) !important;
}

@media (min-width: 789px) and (max-width: 1030px) {
  .love_slider .slick-prev {
    left: 28%;
  }
  .love_slider .slick-next {
    right: 28%;
  }
}

@media (max-width: 768px) {
  .love_slider .slick-prev {
    left: 25%;
  }
  .love_slider .slick-next {
    right: 25%;
  }
}

@media (max-width: 599px) {
  .love_slider .slick-prev,
  .love_slider .slick-next {
    top: 110% !important;
  }
}

@media (max-width: 599px) {
  .love-earth .cards {
    width: 100%;
  }
}

/* ifram  */

.ifram-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 100px;
}

@media (max-width: 800px) {
  .ifram-section {
    padding: 34px 20px;
  }
}

/* Footer */
.footer-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px 47px 124px;
}
@media (min-width: 769px) and (max-width: 1030px) {
  .footer-section {
    padding: 0 50px 47px;
  }
}
@media (max-width: 768px) {
  .footer-section {
    padding: 0 24px 47px;
  }
}
.footer-group-imgs {
  border-top: 1px solid #000000;
  padding-top: 40px;
}
.logos {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .logos {
    flex-direction: column;
  }
}
.inner-logos {
  display: flex;
  align-items: center;
}
.footer-img {
  width: 342.72px;
  height: 120px;
  margin-right: 18px;
}
@media (max-width: 768px) {
  .footer-img {
    margin: 0 0 18px;
  }
}
@media (max-width: 480px) {
  .footer-img {
    width: 100%;
  }
}
.footer-img1 {
  width: 179px;
  height: 88px;
  margin-right: 18px;
}
@media (max-width: 480px) {
  .footer-img1 {
    width: 140px;
    margin-right: 0;
  }
}
.footer-img2 {
  width: 148px;
  height: 100px;
}
@media (max-width: 480px) {
  .footer-img2 {
    width: 125px;
  }
}
.etpa-logo {
  margin-right: 0;
}
.footer-content {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
@media (max-width: 1025px) {
  .footer-content {
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
  }
}
.logo-content {
  display: flex;
}
@media (max-width: 768px) {
  .logo-content {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 18px;
  }
}
.inner-content {
  margin: 0 18px;
}
@media (max-width: 768px) {
  .inner-content {
    margin: 0 0 18px;
  }
}
.footer-para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}
.footer-para2 {
  min-height: 46px;
  margin-bottom: 9px;
}
.footer-content-logo {
  width: 183.03px;
  height: 110px;
}
@media (max-width: 677px) {
  .footer-section {
    padding: 85px 24px 47px;
  }
}
